
<div class="row">
<div class="span9">
<h3>Your Account</h3>
<table class="table table-bordered">
	<tbody>

		<tr>
			<td>Name:</td>
			<td>First and Last Name</td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td>443-864-3232</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>user@gmail.com</td>
		</tr>
		<tr>
			<td>Address:</td>
			<td>3415 13th Street NW<br />Washington, DC 20010</td>
		</tr>
	</tbody>
</table>
<h3>Order Information</h3>
<table class="table table-bordered">
	<tbody>
		<tr>
			<td>Current Cleaner:</td>
			<td>Name of Cleaning Company</td>
		</tr>
		<tr>
			<td>Frequency:</td>
			<td>Every 4 Weeks</td>
		</tr>
		<tr>
			<td>Number of Bathrooms:</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Number of Bedrooms:</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Price Per Clean:</td>
			<td>$208.00</td>
		</tr>
		<tr>
			<td>Tip Per Clean:</td>
			<td>$8.00</td>
		</tr>
		<tr>
			<td>Total:</td>
			<td>$216.00</td>
		</tr>
	</tbody>
</table>


<h2>Need to update your account, change an appointment or switch cleaners?</h2>
<p>Please email us at <a href="mailto:info@scrubbud.co">info@scrubbud.co</a> or call us at 202-618-1323</p>

</div>
</div>