<h2>Success!</h2>
<p>Thank you for submitting a clean through ScrubBud!</p>

<h3>Next Steps</h3>
<p>Thank you for ordering a clean through ScrubBud! Cleaning Company will contact you within the next 24 hours to schedule your clean and to confirm all the details of your clean. Once your clean has been scheduled you will receive an order confirmation which will include all the details of your clean.</p>

<h3>Payment</h3>
<p>If you are receiving a one time clean you will receieve a payment link once your clean has been scheduled. If you signed up for a recurring clean you will receive a payment link on the last day of the month for the cleans performed during that month.</p>

<h3>Logistics</h3>
<p>Please allow an hour window for the cleaners to arrive during. We make our best effort to be right on time however due to traffic or previous cleans running late we like our customer to provide an hour window during which we will arrive.</p>

<h3>Questions</h3>
<p>If you have any question feel free to <a href="#">contact us</a> or visit our <a href="#">FAQs</a></p>
<!--<div class="row">
<div class="span9">

<table class="table table-bordered">
	<tbody>

		<tr>
			<td>Name:</td>
			<td>Nate Andorsky</td>
		</tr>
		<tr>
			<td>Adddress:</td>
			<td>3415 13th Street NW<br />Washington, DC 20010</td>
		</tr>
		<tr>
			<td>Type of Home:</td>
			<td>2 Bedroom, 1 Bathroom Apartment</td>
		</tr>
		<tr>
			<td>Frequency:</td>
			<td>Every 4 Weeks</td>
		</tr>
		<tr>
			<td>Price Per Clean:</td>
			<td>$208.00</td>
		</tr>
		<tr>
			<td>Tip Per Clean:</td>
			<td>$10.00</td>
		</tr>
		<tr>
			<td>Total:</td>
			<td>$218.00</td>
		</tr>
		<tr>
			<td>Instructions for the Cleaner:</td>
			<td>Please make sure to clean under the kitchen table. Often times there are dust bunnies left under the kitchen table. </td>
		</tr>
		<tr>
			<td>Requested Appointment:</td>
			<td>Tuesday, April 27th, 2012 at 3:30 PM</td>
		</tr>
		<tr>
			<td>Appointment Status:</td>
			<td><a class="btn btn-warning disabled">Pending</a></td>
		</tr>

	</tbody>

</table>

</div>

<div class="span8">
  <a href="order.html"> <button type="submit" class="btn btn-danger"><< Previous</button>
  </a>
  <a href="thankyou.html"> <button type="submit" class="btn btn-success">Submit >></button>
  </a>
</div>


</div>-->