<style type="text/css">

.span5 {
	width:360px;
}

.navbar-fixed-top {
	margin-top:-60px;

	}    

</style>


<div class="container">


<div class="navbar" style="margin-top:-50px;">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">

            <div class="navbar-form pull-right">
            <ul class="nav pull-right">
                    <li><a href="account">Learn More</a></li>
                    <li><a href="account">FAQs</a></li>
            </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>


<div class="span12">
		<img src="assets/logo.png">
<div class="span2" style="float:right; margin-top:20px;">
<a class="btn btn-primary" href="#">Share</a>
</div>
</div>


	<div class="span12 well">

	<h1>Calling All Non-Profits</h1>

	<h2>Submit Your Project for a chance to win up to $10,000 towards any web development project.</h2>


	<p>Since it's founding Creative Science Labs has been dedicated to helping non-profits. We're always looking for ways we can help the community therefore we have decided to give away $10,000 worth of development towards a web project. Are you a non-profit and you have a technical project you've been wanting to tackle? But you just don't have the money to do it? Apply today and the winner will get $10,000 worth of web development on behalf of Creative Science Labs.</p>

	<a href="form.html" class="btn btn-primary" style="width:400px;">Submit My Project</a>

	</div>

	<div class="span12">

	<h2>About Creative Science Labs</h2>

	<p>We specialize in building scalable solutions, ranging from intranets to portals to social platforms to mobile apps. We keep up with the latest design and development trends, and we relish working with new technology. Our talented team tightly integrates beauty and functionality into each of our projects. In a nutshell: we make awesome websites, and have a good time doing it. Our portfolio includes sites for the White House and the United Nations. Visit us and see our work at <a href="http://creativesci.co/" target="_blank">http://creativesci.co</a>.</p>


	</div>



	<div class="span12">

	<h2>How It Works</h2>

	</div>

			<div class="span5">

			<h3>Submit Your Project</h3>

			<h4>Submit Icon</h4>

			<p>Lorem ipsum dolor sit amet, ea nominavi vulputate vix. Eloquentiam dissentiunt sit at, ex phaedrum quaestio deterruisset mel, te usu amet option conclusionemque. Eu ius epicurei atomorum dissentiet. Cu his oratio veniam apeirian, debitis fabellas et has. Sed autem signiferumque ad.</p>


			</div>

			<div class="span5">

			<h3>Judges Review</h3>

			<h4>Review Icon</h4>

			<p>Lorem ipsum dolor sit amet, ea nominavi vulputate vix. Eloquentiam dissentiunt sit at, ex phaedrum quaestio deterruisset mel, te usu amet option conclusionemque. Eu ius epicurei atomorum dissentiet. Cu his oratio veniam apeirian, debitis fabellas et has. Sed autem signiferumque ad.</p>

			</div>

			<div class="span5">

			<h3>Winner Selected</h3>

			<h4>Winner Icon</h4>

			<p>Lorem ipsum dolor sit amet, ea nominavi vulputate vix. Eloquentiam dissentiunt sit at, ex phaedrum quaestio deterruisset mel, te usu amet option conclusionemque. Eu ius epicurei atomorum dissentiet. Cu his oratio veniam apeirian, debitis fabellas et has. Sed autem signiferumque ad.</p>

			</div>



	<div class="span12">

	<h2>Countdown</h2>

	<img src="assets/countdown.png">

	</div>
<!-- 
<div class="span12">

	<h2>Prizes</h2>

	<h4>$10,000 towards any technical development project.</h4>
	<p></p>

	<h4>Second Place</h4>
	<p></p>

	<h4>Third Place</h4>
	<p></p>

</div>-->

</div>
</div>