<h2>Ordering</h2>
<div class="row">

<form class="form-horizontal">

<div class="span8">
	<legend>About You</legend>
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="First Name">
    </div>
    <br />
     <div class="controls">
      <input type="text" id="inputEmail" placeholder="Last Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <input type="text" placeholder="XXX-XXX-XXXX">
    </div>
  </div>

   <div class="control-group">
    <label class="control-label">Address</label>
    <div class="controls">
      <input type="text" placeholder="Street Address">
    </div>
    <br />
    <div class="controls">
      <input type="text" placeholder="Apt Number">
    </div>
    <br />
    <div class="controls">
      <input type="text" placeholder="City">
    </div>
    <br />
    <div class="controls">

    	<select>
    		<option>State</option>
    		<option>DC</option>
    		<option>Maryland</option>
    		<option>Virginia</option>
    	</select>

    </div>
    <br />
    <div class="controls">
      <input type="text" placeholder="Zip Code">
    </div>
    <br />
  </div>
 </div>

<!-- Scheduling -->
<div class="span8">
	<legend>Your Clean</legend>
 <!-- <div class="control-group">
    <label class="control-label">Pick the date and time of your clean</label>
    <div class="controls">

    <div id="datetimepicker2" class="input-append date">
      <input type="text"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    </div>
  </div>-->

  <div class="control-group">
    <label class="control-label">Do you have any special instructions for the cleaning crew?</label>
    <div class="controls">
    <textarea rows="10" class="span5"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Would you like to leave a tip for the cleaning crew?</label>
    <div class="controls">
<div class="input-prepend input-append">
  <span class="add-on">$</span>
  <input class="span1" id="appendedPrependedInput" type="text">
  <span class="add-on">.00</span>
</div>
    </div>
  </div>

</div>



<div class="span8">
  <legend>Payment</legend>
  <p>You will receive a payment link for your clean once the clean has been completed.</p>
<div class="span4">
  <table class="table">
    <body>
    <tr>
      <td>Final Price Per Clean:</td>
      <td>$158.00</td>
    </tr>
    <tr>
      <td>Tip Per Clean:</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>$168.00</td>
    </tr>
  </body>
  </table>
</div> 
 </div>


 <div class="span8">
  <legend>Scheduling</legend>
 <p>Please enter in either your email address or phone number below. This is the method the cleaner will use to contact you in order to set up your appointment.</p>
  <div class="control-group">
    <label class="control-label">Phone Number or Email</label>
    <div class="controls">
      <input type="text">
    </div>
  </div>
</div>
<!-- Payment 
   <div class="control-group">
    <label class="control-label">Credit Card Type</label>
  
    <div class="controls">

      <select>
        <option>Select</option>
        <option>Visa</option>
        <option>Mastercard</option>
        <option>Amex</option>
      </select>
    </div>
    <br />
  <div class="control-group">
    <label class="control-label">Credit Card Number</label>
    <div class="controls">
      <input type="text" placeholder="">
    </div>
  </div>

   <div class="control-group">
    <label class="control-label">Expiration Date</label>
    <div class="controls">
      <input type="Text">
    </div>

  </div>

   <div class="control-group">
    <label class="control-label">Security Number</label>
    <div class="controls">
      <input type="text">
    </div>

  </div>

</div>
-->


</form>
<div class="form-actions span8">
  <a href="profile.html" class="btn btn-primary">Back</a>
  <a href="confirmation.html" class="btn btn-success">Submit</a>
</div>
</div>
