<%= render 'layouts/dashboardheader' %>
<div class="row">
<div class="span9">

<h2> Schedule</h2>

<h4>Need to reschedule or cancel an appointment? <a href="#">Contact your cleaner</a></h4>
<ul class="inline">
  <li style="font-weight:bold;">Clean Frequency:</li>
  <li>Every 4 Weeks</li>
</ul>

<ul class="inline">
  <li style="font-weight:bold;">Next Clean:</li>
  <li>04/24/2013</li>
</ul>

<table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Clean #</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr class="info">
                  <td><a href="#">004</a></td>
                  <td>04/24/2013</td>
                  <td>3:00 PM</td>
                  <td>
                  	<div class="btn-group">
  <a class="btn btn-primary" href="#"><i class="icon-time icon-white"></i> Scheduled</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Reschedule</a></li>
    <li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
  </ul>
</div></td>
                </tr>-->
                <tr class="error">
                  <td><a href="#" target="_blank">003</td>
                  <td>03/24/2013</td>
                  <td>3:00 PM</td>
                  <td>Cancelled</td>
                </tr>
                <tr class="success">
                  <td><a href="#" target="_blank">002</td>
                  <td>02/24/2013</td>
                  <td>3:00 PM</td>
                  <td>Complete</td>
                </tr>
                <tr class="success" target="_blank">
                  <td><a href="#">001</td>
                  <td>01/24/2013</td>
                  <td>3:00 PM</td>
                  <td>Complete</td>
                </tr>
              </tbody>
            </table>


</div>


</div>