<h2>What does ScrubBud Certified mean?</h2>

<p>ScrubBud Certified means that the cleaning company has gone througha and passed our certification process.</p>


ScrubBud Certified 

<ul>
<li>In person interview conducted </li>
<li>Evaluation clean performed and passed</li>
<li>Clean rriminal background check</li>
<li>Minimum of 3 references checked and on file</li>
<li>Phone Verified</li>
<li>Facebook Verified</li>
<li>ScrubBud Score of at least 90 or above</li>
<li>Minimum of 5 year of experience</li>
<li>Verified profile information for accuracy</li>
<li>Cross checks the Better Business Bureau for accreditation and reputation ratings</li>
<li>Conducts an online media search for negative, newsworthy incidents</li>
<li>Performs an overall reputation check by reading a sample of online reviews from other sources (if available)</li>
</ul>


ScrubBud Score

* Response Rate
* Years in business
* Months on the site
* Volume of Business
* Reviews
* Number of customer complaints