<div class="row">
<h2>Create an Account</h2>
	<div class="span3">
  <h4>Don't Have an Account?</h4>

      <form class="form-signin">
        <h5 class="form-signin-heading">Create an Account</h5>
        <input type="text" class="input-block-level" placeholder="Email Address">
        <input type="password" class="input-block-level" placeholder="Password">
        <input type="password" class="input-block-level" placeholder="Confirm Password">
        <a href="order.html" class="btn btn-primary" type="submit">Create Account</a>
	
      </form>

	</div>

	<div class="span3" style="border-left:4px solid grey; padding-left:30px;">

<h4>Already Have an Account?</h4>

      <form class="form-signin">
        <h5 class="form-signin-heading">Please sign in</h5>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a href="dashboard.html" class="btn btn-primary" type="submit">Sign in</a>
      </form>

	</div>

</div>