<!-- ScrubBud Score Criteria -->

<!-- Begin Score Overview -->
<div class="reviews-score">
	<div class="scrubbud-score">
		<div class="name">ScrubBud</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">11</div>
			<div class="text-number">Reviews</div>
		</div>
	</div>	
	<div class="yelp-score">
		<div class="name">Yelp</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">26</div>
			<div class="text-number">Reviews</div>
		</div>		
	</div>	
	<div class="number-score">
		<div class="number">98</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
</div>
<!-- End Score Overview -->

<!-- Begin ScrubBud Score -->
<div class="score-scrubbud score-criterias">
	<div class="number-score">
		<div class="number">NA</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
	<div class="scores-criteria">
		<div class="criteria punctual">
			<div class="name">Punctual</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria friendly">
			<div class="name">Friendly and Courteous</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria comunication">
			<div class="name">Comunication</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria quality">
			<div class="name">Quality of service</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria value">
			<div class="name">Value</div>
			<div class="star five">star</div>
		</div>						
		<div class="criteria recommend">
			<div class="name">I would recommend to friend</div>
			<div class="star five">star</div>
		</div>																
	</div>		
</div>
<!-- End ScrubBud Score -->

<!-- Start Profile -->
<h3>About Us</h3>
<p>We provide affordable cleaning. Just the way you want it. Let us do your house cleaning, carpet cleaning, and concierge for you so you can have more time to spend on you and your family. 
We're here to create magic where you can relax and set a date for good old fashion cleaning. We use products safe for your family and pets!!</p>


<div class="span12">
<h3>Quick Facts</h3>

<table class="table span6">
	<tbody>
		<tr>
			<td>Years in Business</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Team Size</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Franchise/Locally Owned/Independent</td>
			<td></td>
		</tr>
		<tr>
			<td>Legal Structure</td>
			<td>Limited Liability Company</td>
		</tr>
		<tr>
			<td>Certifications</td>
			<td>Bonded, Licensed and Insured</td>
		</tr>
	</tbody>
</table>
</div>

<div class="span12">
<h3>About the Team</h3>

<table class="table span6">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Role</th>
			<th>Name</th>
			<th>Experience (Years)</th>
			<th>About Me</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="#"></td>
			<td>Owner</td>
			<td>Tony Bussie</td>
			<td>2</td>
			<td>Me</td>
		</tr>
	</tbody>

</table>
</div>

