<div class="container">

<h2>Real Touch Maids</h2>

<h3>About Us</h3>
<p>All of our team members are trained to deliver the most outstanding cleaning service experience ever. As for our technical knowledge, we are second to none.</p>

<p>Our personnel are certified through the Institute of Inspection, Cleaning and Restoration Certification (I.I.C.R.C.) and follow the cleaning principles set forth in their guidelines!</p>
<p>Our method of cleaning because it is the most thorough cleaning process available as well as being the process recommended by the major maid services.</p>


<div class="span12">
<h3>Quick Facts</h3>

<table class="table span6">
	<tbody>
		<tr>
			<td>Years in Busiess</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Team Size</td>
			<td>?</td>
		</tr>
		<tr>
			<td>Franchise/Locally Owned/Independent</td>
			<td>Locally Owned</td>
		</tr>
		<tr>
			<td>Legal Structure</td>
			<td></td>
		</tr>
		<tr>
			<td>Certifications</td>
			<td>Bonded, Licensed and Insured</td>
		</tr>
	</tbody>
</table>
</div>

<div class="span12">
<h3>About the Team</h3>

<table class="table span6">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Role</th>
			<th>Name</th>
			<th>Experience (Years)</th>
			<th>About Me</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="#"></td>
			<td>Owner</td>
			<td>Henry Phillippo</td>
			<td></td>
			<td>?</td>
		</tr>
		<tr>
			<td><img src="#"></td>
			<td>Team Memeber</td>
			<td>Wendy Martinez</td>
			<td></td>
			<td>?</td>
		</tr>
		<tr>
			<td><img src="#"></td>
			<td>Team Member</td>
			<td>Yamileth Lainez</td>
			<td></td>
			<td>?</td>
		</tr>
		<tr>
			<td><img src="#"></td>
			<td>Team Member</td>
			<td>Neyda Aleman</td>
			<td></td>
			<td>?</td>
		</tr>
	</tbody>
</table>
</div>

</div>
