<!-- ScrubBud Score Criteria -->

<!-- Begin Score Overview -->
<div class="reviews-score">
	<div class="scrubbud-score">
		<div class="name">ScrubBud</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">11</div>
			<div class="text-number">Reviews</div>
		</div>
	</div>	
	<div class="yelp-score">
		<div class="name">Yelp</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">26</div>
			<div class="text-number">Reviews</div>
		</div>		
	</div>	
	<div class="number-score">
		<div class="number">98</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
</div>
<!-- End Score Overview -->

<!-- Begin ScrubBud Score -->
<div class="score-scrubbud score-criterias">
	<div class="number-score">
		<div class="number">NA</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
	<div class="scores-criteria">
		<div class="criteria punctual">
			<div class="name">Punctual</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria friendly">
			<div class="name">Friendly and Courteous</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria comunication">
			<div class="name">Comunication</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria quality">
			<div class="name">Quality of service</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria value">
			<div class="name">Value</div>
			<div class="star five">star</div>
		</div>						
		<div class="criteria recommend">
			<div class="name">I would recommend to friend</div>
			<div class="star five">star</div>
		</div>																
	</div>		
</div>
<!-- End ScrubBud Score -->

<!-- Review Start -->

<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/five.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Dana K</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Aug 28, 2013</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>Happy customer since 2006!!</p>
		<p>I've been with Jaki since 2006 and love their service. I use them once a month and couldn't be any happier. I wish they offered weekends still, but I will change my schedule during the week just to keep them.</p>
   </div>
</div>
<!-- End of Review -->

<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/four.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Heidi G</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">May 20, 2013</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>They're great!</p>
<p>We love Donna, Gloria and Jaki and think they're great! The team is really thorough and the house always smells wonderful when they're done.</p>
   </div>
</div>
<!-- End of Review -->


<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/two.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Felicia S</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Mar 6, 2013</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>Disappointed with the service - this time</p>
<p>I have previously used your service 2 times and was pleased. This time it lacked quality and value. My appointment was for 1pm. A team of two arrived at 2:30pm, and a 3rd person arrived some time later. When they left at 6:30pm, my bathroom floors were dirty, areas of the hardwood floors had not been swept, and the staircase had areas not dusted. It was late when they left, and thus I did not ask them to redo anything. The service provided lacked quality and attention to detail.</p>
   </div>
</div>
<!-- End of Review -->


<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/five.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Veronica E</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Sep 15, 2012</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>GREAT SERVICE</p>
<p>They cleaned areas previous cleaning companies never touched. They are very efficient and usually thorough. The green cleaning is especially good due to allergies. I inspect prior to their leaving and very seldom are things overlooked on their part. If something is overlooked, I simply ask and they are more than accomodating to clean it. Overall, a great cleaning service. I have paid more and gotton less.</p>
   </div>
</div>
<!-- End of Review -->


<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/three.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Kelsey Costello</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Sep 11, 2012</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>Not wowed</p>
<p>To be honest I was not wowed and my expectations were barely met. While some areas were super clean like my steps, other areas were potentially not cleaned at all. I had cobwebs between my TV stand and the fire place, and the floor in my kitchen, cabinets and fridge were still really dirty. If I had paid half of what I paid, this would be fine, but at the price point I expected more.</p>
   </div>
</div>
<!-- End of Review -->

<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/five.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">DC Resident</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Sep 9, 2012</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>Awesome</p>
<p>We required a top to bottom cleaning and received just that! The attention to detail resulted in a top notch cleaning job. My husband is very particular and he was impressed by the services Round About Cleaning Services, Inc provided!!</p>
   </div>
</div>
<!-- End of Review -->

<!-- Beg of Review -->
<div class="reviews-commets">
   <div class="score-bodys">
      <div class="scores-body">
         <div class="body punctual"><img src="/sites/all/themes/scrubbud/images/four.png" /></div>
      </div>
   </div>
   <!-- Overview Ratings -->
   <div class="header-review-commets">
      <div class="title">Sonya B</div>
   </div>
   <!-- Specific Ratings -->
   <div class="info user" style="margin-left:12px;">Aug 5, 2012</div>
   <!--<div class="info puctual">
      <span class="name">Punctual</span> <span class="star">star</span>
      </div>
      <div class="info quality-of-service">
      <span class="name">Quality of Service</span> <span class="star">star</span>
      </div>
      <div class="info friendly-and-courteous">
      <span class="name">Friendly and Courteous</span> <span class="star">star</span>
      </div>
      <div class="info value">
      <span class="name">value communications</span> <span class="star">star</span>
      </div> 
      <div class="info friend">
      <span class="name">I would recommend to a friend</span> <span class="star">star</span>
      </div>  --><!-- Comments -->
   <div class="menssage">
      <p>Great Job!</p>
<p>We have two dogs that shed big time. The women who came to our house were great. They were very nice with a great attitude. They did a good job of tackling all of the fur that seems to still be on the floor after I sweep. They cleaned things that I didn't notice before so that when I came into the room it looked brand new. And the ceiling fan! I don't know what to say... Thank you.</p>
   </div>
</div>
<!-- End of Review -->


<!-- Reviews End -->



<!-- Start Profile -->
<h3>About Us</h3>
<p>To meet our clients ever changing cleaning needs, while continuing to offer the best service possible for affordable prices while building strong relationships because every client is unique.</p>
 
<p>Round About Cleaning Service, Inc. is a small, independent, locally family owned and operated company that has been servicing the DC metro area for 15 years. We are not just an ordinary cleaning service but we have a heart for people. We provide charitable cleanings forCleaning for Heroes(veterans).We also provide residential cleaning to a variety of people who expect us to make a difference in their lives. Our company is based on the belief that a clean home is a happy home and our customers' satisfaction is of great importance to us. Our willingness to go above and beyond is why we have repeat customers and referrals. We would welcome the opportunity to make your life a little easier.</p>
 
<p>Let us bring order to your chaos as well as peace and harmony, Round About Cleaning Service, Inc. is ready to help. Our cleaning services cater to our clients particular needs. You concentrate on your life and let us concentrate on your cleaning.
 </p>


<div class="span12">
<h3>Quick Facts</h3>

<table class="table span6">
	<tbody>
		<tr>
			<td>Years in Business</td>
			<td>14</td>
		</tr>
		<tr>
			<td>Team Size</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Type of Service</td>
			<td>Locally Owned</td>
		</tr>
		<tr>
			<td>Legal Structure</td>
			<td>Corporation</td>
		</tr>
		<tr>
			<td>Certifications</td>
			<td>Licensed and Insured</td>
		</tr>
	</tbody>
</table>
</div>

<div class="span12">
<h3>About the Team</h3>

<table class="table span6">
	<thead>
		<tr>
			
			<th>Name</th>
			<th>Role</th>
			<th>Experience (Years)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Donna</td>
			<td>Team Member</td>
			<td></td>
		</tr>
		<tr>
			<td>Gloria</td>
			<td>Team Member</td>
			<td></td>
		</tr>
		<tr>
			<td>Evelyn</td>
			<td>Team Member</td>
			<td></td>
		</tr>
		<tr>
			
			<td>Ian</td>
			<td>Team Member</td>
			<td></td>
		</tr>
		<tr>
			
			<td>Jake</td>
			<td>Team Member</td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>

<!-- Begin What Is Included -->

