<!-- ScrubBud Score Criteria -->

<!-- Begin Score Overview -->
<div class="reviews-score">
	<div class="scrubbud-score">
		<div class="name">ScrubBud</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">11</div>
			<div class="text-number">Reviews</div>
		</div>
	</div>	
	<div class="yelp-score">
		<div class="name">Yelp</div>
		<div class="star five">star</div>
		<div class="reviews-number">
			<div class="number">26</div>
			<div class="text-number">Reviews</div>
		</div>		
	</div>	
	<div class="number-score">
		<div class="number">98</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
</div>
<!-- End Score Overview -->

<!-- Begin ScrubBud Score -->
<div class="score-scrubbud score-criterias">
	<div class="number-score">
		<div class="number">NA</div>
		<div class="text-score">ScrubBud Score</div>
		<span class="help">What the ScrubBud Score?</span>
	</div>
	<div class="scores-criteria">
		<div class="criteria punctual">
			<div class="name">Punctual</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria friendly">
			<div class="name">Friendly and Courteous</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria comunication">
			<div class="name">Comunication</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria quality">
			<div class="name">Quality of service</div>
			<div class="star five">star</div>
		</div>
		<div class="criteria value">
			<div class="name">Value</div>
			<div class="star five">star</div>
		</div>						
		<div class="criteria recommend">
			<div class="name">I would recommend to friend</div>
			<div class="star five">star</div>
		</div>																
	</div>		
</div>
<!-- End ScrubBud Score -->

<!-- Start Profile -->

<h2>Spotless Cleaning Service</h2>

<h3>About Us</h3>
<p>Spotless Cleaning Services has being in business for more than 3 years and it prides itself in providing excellent cleaning services as well as customer services in the metropolitan area.</p>

<div class="span12">
<h3>Quick Facts</h3>

<table class="table span6">
	<tbody>
		<tr>
			<td>Years in Busiess</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Team Size</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Franchise/Locally Owned/Independent</td>
			<td>Locally Owned</td>
		</tr>
		<tr>
			<td>Legal Structure</td>
			<td>Sole Proprietorship</td>
		</tr>
	</tbody>
</table>
</div>

<div class="span12">
<h3>About the Team</h3>

<table class="table span6">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Role</th>
			<th>Name</th>
			<th>Experience (Years)</th>
			<th>About Me</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="#"></td>
			<td>Owner</td>
			<td>Yesenia Morales</td>
			<td>9</td>
			<td>About Me</td>
		</tr>
		<tr>
			<td><img src="#"></td>
			<td>Team Member</td>
			<td>Fatima</td>
			<td>5</td>
			<td>About Me</td>
		</tr>
		<tr>
			<td><img src="#"></td>
			<td>Team Member</td>
			<td>Candelaria</td>
			<td>4</td>
			<td>About Me</td>
		</tr>
	</tbody>

</table>
</div>
