
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Knight Point</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/knight_point.cs.scss">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/css/style.css">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/css/headers/header1.css">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/plugins/flexslider/flexslider.css">    	
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/plugins/parallax-slider/css/parallax-slider.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/css/themes/headers/default.css" id="style_color-header-1">    
</head>	

<body>

<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a>Languages</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="#">English <i class="icon-ok"></i></a> 
                    </li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Russian</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </li>
            <li class="devider"></li>   
            <li><a href="page_faq.html">Help</a></li>  
            <li class="devider"></li>   
            <li><a href="page_login.html">Login</a></li>   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->    
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img id="logo-header" src="assets/knightpoint.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Home
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="index.html">Option 1: Default Page</a></li>
                            <li><a href="page_home1.html">Option 2: Layer Slider</a></li>
                            <li><a href="page_home2.html">Option 3: Revolution Slider</a></li>
                            <li><a href="page_home3.html">Option 4: Amazing Content</a></li>
                            <li><a href="page_home4.html">Option 5: Home Sidebar</a></li>
                            <li><a href="page_home5.html">Option 6: Home Flatty</a></li>
                            <li><a href="page_home6.html">Option 7: Home Magazine</a></li>
                            <li><a href="page_home7.html">Option 8: Home Portfolio</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            About Us
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
    						<li><a href="#">CEO's Letter</a></li>
    						<li><a href="#">Philanthropy</a></li>
    						<li><a href="#">Cutlure</a></li>
    						<li><a href="#">SDVOSB Background</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Practice Areas
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
    						<li><a href="#">Goverance</a></li>
    						<li><a href="#">Sustainability Services</a></li>
    						<li><a href="#">Application Services</a></li>
    						<li><a href="#">Cyber Security</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Contracts
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
    						<li><a href="#">Fed. Contract Vehicle</a></li>
    						<li><a href="#">GSA Schedule</a></li>
    						<li><a href="#">Seaport e</a></li>
    						<li><a href="#">Eagle II</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Careers
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
    						<li><a href="#">Benefits</a></li>
    						<li><a href="#">Applications</a></li>
    						<li><a href="#">Directions</a></li>
    						<li><a href="#">Locations</a></li>
                        </ul>
                    </li>
                   
                    <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->    

<!-- Edit Style Sheet -->
<style type="text/css">

.container > .navbar-header, .container > .navbar-collapse {
margin-bottom: 10px;

}

.navbar > .container .navbar-brand {
margin-left: -15px;
background-color: #3498db;
border: 2px solid;
}

.da-slider {
	width: 100%;
	height: 300px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: transparent url(assets/image1.jpg) repeat 0% 0%;
}
.headline h2, .headline h3, .headline h4 {
border-bottom: 2px solid #3498db;
}
a:hover {
	color: #3498db!important;
}

.header .navbar-default .navbar-nav > .active > a {
color: #3498db!important;
}

.header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-nav > li > a:focus {
border-bottom: solid 2px transparent;
color: #3498db;
}

.service .service-icon {
color: #3498db;
}
.header .navbar-default .navbar-nav > li > a:hover, .header .navbar-default .navbar-nav > .active > a {
border-bottom: solid 2px #3498db;
}

.btn-u {
	background: #3498db;
}

.footer a, .copyright a, .footer a:hover, .copyright a:hover {
color: #3498db;
}

.thumbnail-style a.btn-more {
	color: white;
}

.thumbnail-style a.btn-more {
background: #3498db;
}

.thumbnail-style a:hover.btn-more {
background: #3498db;
}

blockquote:hover {
padding: 10px 20px;
margin: 0 0 20px;
border-left: 5px solid #3498db;
}

.color-green {
	color: #3498db;
}

.da-slide p{
	top:200px;
}

.da-slide .da-img {
	height:200px;
	top:10px;
}

.da-slide .da-img img {
	height:200px;
	border: solid 4px grey;
	margin-left:200px;
}

.da-slide h2 i {
	background: #3498db;
	background-color: #3498db;
}


</style>

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>WHY KNIGHT POINT?</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img">
				<img src="assets/video1.png"></iframe> 
            </div>
        </div>       
        <div class="da-slide">
            <h2><i>CASE STUDIES</i></h2>
            <p><i>Check out what we've done.</i></p>
            <div class="da-img">
				<img src="assets/hero2.jpg"></iframe> 
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Careers</i></h2>
            <p><i>Ranked one of the top places to work.</i></p>
            <div class="da-img"><img src="assets/hero3.jpg">alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </div>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>Knight Point.</span>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
            </div>            
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	
	<!-- Service Blocks -->
	<div class="row">
    	<div class="col-md-4">
    		<div class="service">
                <i class="icon-resize-small service-icon"></i>
    			<div class="desc">
    				<h4>Value Propisition 1</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4">
    		<div class="service">
                <i class="icon-cogs service-icon"></i>
    			<div class="desc">
    				<h4>Value Propisition 2</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4">
    		<div class="service">
                <i class="icon-plane service-icon"></i>
    			<div class="desc">
    				<h4>Value Propisition 3</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-->
	<!-- End Service Blokcs -->

	<!-- Recent Works -->
    <div class="headline"><h2>Practice Areas</h2></div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/casestudy1.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Governance</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/casestudy4.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Sustainability Services</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/casestudy2.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Application Services</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/casestudy3.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>                   
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Cyber Security</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
    </div><!--/row-->
	<!-- End Recent Works -->
    
	<!-- Info Blokcs -->
	<div class="row">
    	<!-- Welcome Block -->
		<div class="col-md-8">
			<div class="headline"><h2>Welcome To Knight Point</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="http://htmlstream.com/preview/unify/assets/img/main/6.jpg" alt="" />
                </div>
                <div class="col-sm-8">
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    </ul>                    
                </div>
            </div>

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div><!--/col-md-8-->        

        <!-- Latest Shots -->
        <div class="col-md-4">
			<div class="headline"><h2>Latest News</h2></div>
			<div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/Slide07.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Knight Point recognized as one of hte top 50 Small Business to work for.</p>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
			</div>
        </div><!--/col-md-4-->
	</div><!--/row-->	
	<!-- End Info Blokcs -->

	<!-- Our Clients -->
	<div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Certifications</h2></div>	
		<ul class="slides">
			<li>
                <a href="#">
                    <img src="assets/cert1.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert2.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert3.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert4.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert5.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert6.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert7.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert8.png" alt="" /> 
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/cert1.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert2.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert3.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert4.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert5.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert6.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert7.png" alt="" /> 
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/cert8.png" alt="" /> 
                </a>
            </li>

		</ul>
	</div><!--/flexslider-->
	<!-- End Our Clients -->
</div><!--/container-->		
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
		        <div class="headline"><h2>About</h2></div>	
				<p class="margin-bottom-25 md-margin-bottom-40">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>	

	            <!-- Monthly Newsletter -->
		        <div class="headline"><h2>Monthly Newsletter</h2></div>	
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
				<form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">                            
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div><!-- /input-group -->                    
				</form>							
			</div><!--/col-md-4-->	
			
			<div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="http://htmlstream.com/preview/unify/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="http://htmlstream.com/preview/unify/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="http://htmlstream.com/preview/unify/assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</a></p> 
                        </dd>
                    </dl>
                </div>
			</div><!--/col-md-4-->

			<div class="col-md-4">
	            <!-- Monthly Newsletter -->
		        <div class="headline"><h2>Contact Us</h2></div>	
                <address class="md-margin-bottom-40">
					1775 Wiehle Avenue, Suite 101 <br />
					Reston, VA 20190 <br />
					866-403-7344 (Toll free)<br />
					F703-657-7050 <br />
					Email: <a href="mailto:info@anybiz.com" class="">info@knightpoint.com</a>
                </address>

                <!-- Stay Connected -->
		        <div class="headline"><h2>Stay Connected</h2></div>	
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                </ul>
			</div><!--/col-md-4-->
		</div><!--/row-->	
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6">						
	            <p class="copyright-space">
                    2013 &copy; Knight Point. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
			</div>
			<div class="col-md-6">	

			</div>
		</div><!--/row-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/plugins/parallax-slider/js/jquery.cslider.js"></script> 
<!-- JS Page Level -->           
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/js/app.js"></script>
<script type="text/javascript" src="http://htmlstream.com/preview/unify/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="http://htmlstream.com/preview/unify/assets/plugins/respond.js"></script>
<![endif]-->


</body>
</html>	