<hr />      
      <footer class="footer">
        <p>&copy; ScrubBud 2013</p>
      </footer>
<script src="./js/jquery-1.9.1.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/bootstrap-dropdown.js"></script>
